@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.7);
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    /* background: transparent; */
    /* background: yellowgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: var(--main-color);
    font-weight: 600;
    /* cursor: default; */
    /* margin-right: auto; */
}

.navbar a{
    /* position: relative; */
    font-size: 18px;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

/* .navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
} */

.home {
    height: 100vh;
    /* background: url('home.jpg') no-repeat; */
    background-color: #0b061f;
    padding: 0 10%;
    display:flex;
    align-items: center;
    /* z-index: 2; */
}

.home-content{
    color: var(--white-color);
    /* max-width: 600px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.home-content .txt-home{
    width: 100%;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .img-home img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    /* margin-bottom: 40px; */
    border: 4px solid var(--white-color);
    border-radius: 50%;
    background-color: var(--main-color);
}

.home-content .btn {
    display: flex;
    width: 345px;
    height: 50px;
    color: var(--main-color);
    text-decoration: none;
}

.btn{
    transition: .3s ease; 
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 19px;
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
}

.btn:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.sm{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.sm a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    transition: .3s ease;
}

.sm a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

/* .home .box {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100vh;
    height: 100vh;
  
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
} */

/* .home .box .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-top: 520px solid var(--main-color);
    border-right: 604px solid var(--main-color);
    border-left: 384px solid transparent;
    border-bottom: 520px solid var(--main-color);
    z-index: 1;
    display: none;
} */